<a href="https://colab.research.google.com/github/Kikkas01/Python-for-analytics/blob/Lesson5/%D0%A3%D1%80%D0%BE%D0%BA_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Урок 5. Задание 1.
Взять датасет из домашнего задания №2. Проверить гипотезу о том, в каком варианте
теста (control/personalization) больше конверсия (converted) и значимо ли это отличие
статистически.

In [34]:
import pandas as pd

In [35]:
df1 = pd.read_csv('marketing_campaign.csv')
df1.head()

  user_id date_served  ... language_displayed converted
0   a1000      1/1/18  ...            English      True
1   a1001      1/1/18  ...            English      True
2   a1002      1/1/18  ...            English      True
3   a1003      1/1/18  ...            English      True
4   a1004      1/1/18  ...            English      True

[5 rows x 6 columns]

In [36]:
df1['converted'] = df1['converted'].apply(lambda x: 1 if x == True else 0)
df1.head()

  user_id date_served  ... language_displayed converted
0   a1000      1/1/18  ...            English         1
1   a1001      1/1/18  ...            English         1
2   a1002      1/1/18  ...            English         1
3   a1003      1/1/18  ...            English         1
4   a1004      1/1/18  ...            English         1

[5 rows x 6 columns]

In [37]:
df1.shape

(10037, 6)

In [38]:
df2 = df1.groupby('converted')['variant'].value_counts().unstack('converted')
df2.columns.name = None
df2.head()

                    0    1
variant
control          4720  371
personalization  4241  705

In [39]:
import scipy.stats as stats
result = stats.chi2_contingency(df2, correction = False)
chisq, pvalue = result[:2]
print('chisq = {}, pvalue = {}'.format(chisq, pvalue))

# Поскольку pvalue очень близок к нулю и значительно меньше 0,05 - нулевую гипотезу о равенстве вариантов можно отвергнуть
# Принимаем факт, что вариант "personalization" более эффективен.

chisq = 127.21277698468771, pvalue = 1.6688675207808698e-29

# Урок 5. Задание 2.
Цех может производить стулья и столы. На производство стула идет 5 единиц материала,
на производство стола - 20 единиц (футов красного дерева). Стул требует 10 человеко-часов,
стол - 15. Имеется 400 единиц материала и 450 человеко-часов. Прибыль при производстве
стула - 45 долларов США, при производстве стола - 80 долларов США. Сколько надо сделать
стульев и столов, чтобы получить максимальную прибыль?

In [40]:
import numpy as np

In [41]:
# Задаем целевую функцию:
# Компанией производится два вида продукции:
# х0 — стул, прибыль 45$
# x1 — стол, прибыль 80$

def value(x):
    return - 45*x[0] - 80*x[1]

In [42]:
# Задаем систему ограничений:
# Фонд рабочего времени на месяц: 450 чел/час
# Количество материала в наличии: 400 ед. 

# На изготовление мебельной позиции (x0, x1) тратится (10,15) часов рабочего 
# времени и (5, 20) единиц материала


neq_cons = {'type': 'ineq',
             'fun': lambda x: np.array ([450 - 10 * x [0] - 15 * x [1],
                                         400 - 5 * x [0] - 20 * x [1]])}

In [43]:
# Ограничение по положительному выпуску продукции:
from scipy.optimize import Bounds
bnds = Bounds([0, 0], [np.inf, np.inf])

In [57]:
# Максимизируем функцию прибыли
from scipy.optimize import minimize
x0 = np.array([0, 0])
res = minimize(value, x0, method='SLSQP', constraints=neq_cons, bounds=bnds)
print(res)
print(res.x)

# из урока не понял, какие числа должны быть подставлены в np.array в переменной x0 и почему
# в моём случае можно подставлять любые - результат от этого не меняется, 
# функция всегда выдаёт 24 и 14, подставляя в array при расчетах -45 и -80, соответственно.
# Можно даже вообще закомментировать строчку с np.array - и ничего не изменится
# Возможно, в уроке было три позиции, поэтому имело значение. Вероятно бралось меньшее из трех...

     fun: -2199.999999993248
     jac: array([-45., -80.])
 message: 'Optimization terminated successfully.'
    nfev: 8
     nit: 2
    njev: 2
  status: 0
 success: True
       x: array([24., 14.])
[24. 14.]

In [45]:
# Посчитаем прибыль, с учетом полученного расклада:
print('максимизированная прибыль составит:', -1*value([24, 14]),'долларов')

максимизированная прибыль составит: 2200 долларов

Вывод: Чтобы получить максимальную прибыль с учетом имеющихся ограничений, нужно произвести 24 стула и 14 столов. Прибыль в этом случае составит 2200 долларов.

Для ДЗ были выбраны 1 и 2 задания.